<!DOCTYPE html>
<html>
<head>
    <title>Boston House Price Prediction</title>
</head>
<body>

    <h1>Boston House Price Prediction</h1>

    <form action="/predict" method="post">

        <input type="text" name="CRIM" placeholder="CRIM" required><br><br>

        <input type="text" name="ZN" placeholder="ZN" required><br><br>

        <input type="text" name="INDUS" placeholder="INDUS" required><br><br>

        <input type="text" name="CHAS" placeholder="CHAS (0 or 1)" required><br><br>

        <input type="text" name="NOX" placeholder="NOX" required><br><br>

        <input type="text" name="RM" placeholder="RM" required><br><br>

        <input type="text" name="AGE" placeholder="AGE" required><br><br>

        <input type="text" name="DIS" placeholder="DIS" required><br><br>

        <input type="text" name="RAD" placeholder="RAD" required><br><br>

        <input type="text" name="TAX" placeholder="TAX" required><br><br>

        <input type="text" name="PTRATIO" placeholder="PTRATIO" required><br><br>

        <input type="text" name="B" placeholder="B" required><br><br>

        <input type="text" name="LSTAT" placeholder="LSTAT" required><br><br>

        <button type="submit">Predict</button>

    </form>

    <br>

    <h2>
        {{ prediction_text }}
    </h2>

</body>
</html>
